.sumit{
    margin-left: 150px;
    margin-top: 20px;
}
.nav-link-1, .nav-link-2{
    margin-right: 50px;
    margin-top: 20px;
    font-family: Apercu,'Trebuchet MS',sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 60px;
    text-align: left;
}
​
.heading{
    font-family:'Balsamiq Sans', cursive;
    /* font-family: Cooper,'Palatino Linotype',sans-serif; */
    font-weight: bolder;
    color: #131415;
    font-size: 50px;
    line-height: 70px;
    margin-top: 100px;
    margin-left: 160px;
    box-sizing: border-box;
}
​
.text-block{
    font-family: Apercu,'Trebuchet MS',sans-serif;
    margin-left: 160px;
    margin-top: 30px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 550;
}
​
.block{
    margin-left: 160px;
    margin-top: 30px;
    font-weight: lighter;
    font-size: 20px;
    font-family: Apercu,'Trebuchet MS',sans-serif;
    line-height: 34px;
​
}
.btn{
    margin-left: 160px;
    margin-top: 30px;
    padding: 20px 30px;
}
.btn:hover{
    background-color: #16356b;
}
​
.link{
    /* margin-left: 100px;
    margin-top: 100px; */
    padding: 20px 30px ;
    align-items: center;
    background-color: transparent;
    color: #055ffb;
    line-height: 25px;
    font-family: Apercu,'Trebuchet MS',sans-serif;
    font-size: 18px;
    font-weight: 700;
    height: 70px;
    justify-content: center;
    border: none;
}
.text-block-3{
    color: #131415;
    font-size: 19px;
    line-height: 34px;
    font-weight: 400;
    font-family: Apercu,'Trebuchet MS',sans-serif;
    text-align: center;
    margin-bottom: 55px;
    margin-top: 200px;
​
}
